default vesamenu.c32
timeout 60
#display boot.msg

menu background splash.jpg
menu title Welcome to Hua Cloud OS 7.0! 
menu color border 0 #ffffffff #00000000                   
menu color sel 7 #ffffffff #ff000000                     
menu color title 0 #ffffffff #00000000                  
menu color tabmsg 0 #ffffffff #00000000                
menu color unsel 0 #ffffffff #00000000                
menu color hotsel 0 #ff000000 #ffffffff              
menu color hotkey 7 #ffffffff #ff000000             
menu color scrollbar 0 #ffffffff #00000000 


label local                                        
  menu label Boot from ^local drive               
  menu default                                   
  localboot 0xffff 
label linux
  menu label ^Auto Install Yum Repo Server
  kernel vmlinuz
  append ks=cdrom:/isolinux/ks.cfg initrd=initrd.img net.ifnames=0 biosdevname=0 inst.stage2=hd:LABEL=CentOS\x207\x20x86_64 quiet
label manual
  menu label ^Auto Install IAAS Node Server
  kernel vmlinuz
  append ks=cdrom:/isolinux/ks1.cfg initrd=initrd.img net.ifnames=0 biosdevname=0 inst.stage2=hd:LABEL=CentOS\x207\x20x86_64 quiet
